@using sanalgunlugum.com.Models.ViewModels
@model  IEnumerable<BookViewModel>
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sanalgunlugum.com - Ana Sayfa</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="~/Content/fullpage.css" rel="stylesheet" />
    <link href="~/Content/datepicker.min.css" rel="stylesheet" />
    <link href="~/Content/mycss/index.css" rel="stylesheet" />
    <style>
        @@media only screen and (max-width: 1200px) {
            .notebook-cover {
                height: 200px !important;
                width: 140px !important;
            }

            .notebook-page {
                height: 100% !important;
                width: 140px !important;
            }

            .moleskine-notebook {
                margin-bottom: 30px !important;
            }
        }

        @@media only screen and (max-width:991px) {
            .emoji {
                max-width: 50px;
                position: absolute;
                top: 0;
                left: 50px;
                z-index: 99999;
            }

            .col-xs-4, .col-md-2 {
                padding-left: 50px;
            }
        }

        @@media only screen and (max-width:650px) {
            .col-xs-4, .col-md-2 {
                padding-left: 20px;
            }

            .options {
                margin: 0;
            }
        }

        .main-content {
            margin: 5em auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
            text-transform: uppercase;
        }

        .moleskine-wrapper {
            max-width: calc(100% / 4);
            min-width: 10em;
        }

        .moleskine-notebook {
            height: 190px;
            width: 160px;
            position: relative;
            transition: .4s ease-in-out;
            border-radius: 5px 15px 15px 5px;
            transform-origin: left center 0px;
            display: inline-block;
            margin-bottom: 50px;
            perspective: 800px;
        }

            .moleskine-notebook:hover {
                transform: rotateZ(-10deg);
            }

                .moleskine-notebook:hover .notebook-cover {
                    transform: rotateY(-50deg);
                    z-index: 999;
                    box-shadow: 20px 10px 50px rgba(0, 0, 0, 0.2);
                }

        .notebook-cover {
            background: #cc4b48;
            height: 235px;
            width: 175px;
            position: absolute;
            border-radius: 5px 15px 15px 5px;
            z-index: 10;
            transition: .5s linear;
            transform-style: preserve-3d;
            transform-origin: left center 0px;
        }

            .notebook-cover:before {
                content: "";
                position: absolute;
                width: 10px;
                height: calc(100% + 2px);
                top: -1px;
                z-index: 100;
                border-radius: 2px;
                right: 25px;
                transition: 2s ease;
                background: linear-gradient(to right, #9c2e2b 0%, #cc4b48 12%, #9c2e2b 25%, #cc4b48 37%, #9c2e2b 50%, #cc4b48 62%, #9c2e2b 75%, #cc4b48 87%, #9c2e2b 100%);
            }

            .notebook-cover.blue {
                background: #2e95aa;
            }

                .notebook-cover.blue:before {
                    background: linear-gradient(to right, #1e606e 0%, #2e95aa 12%, #1e606e 25%, #2e95aa 37%, #1e606e 50%, #2e95aa 62%, #1e606e 75%, #2e95aa 87%, #1e606e 100%);
                }


        .notebook-skin {
            height: 70px;
            background: #e8e8e0;
            margin-top: 80px;
            padding: 15px;
            font-size: 12px;
            position: relative;
            z-index: 10;
            color: #222;
            text-align: left;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        }

            .notebook-skin:before {
                content: '';
                position: absolute;
                width: 100%;
                height: 15px;
                left: 0;
                bottom: 0;
                background: #cddc39;
            }

        .notebook-page {
            height: 100%;
            width: 175px;
            position: absolute;
            background-color: #fbfae8;
            z-index: 0;
            border-radius: 5px 16px 16px 5px;
            overflow: hidden;
        }

        .notebook-cover.blue {
            background: #2e95aa;
        }

            .notebook-cover.blue:before {
                background: linear-gradient(to right, #1e606e 0%, #2e95aa 12%, #1e606e 25%, #2e95aa 37%, #1e606e 50%, #2e95aa 62%, #1e606e 75%, #2e95aa 87%, #1e606e 100%);
            }

        .notebook-cover.green {
            background: #abc3b5;
        }

            .notebook-cover.green:before {
                background: linear-gradient(to right, #7ea38e 0%, #abc3b5 12%, #7ea38e 25%, #abc3b5 37%, #7ea38e 50%, #abc3b5 62%, #7ea38e 75%, #abc3b5 87%, #7ea38e 100%);
            }

        .notebook-cover.yellow {
            background: #fed754;
        }

            .notebook-cover.yellow:before {
                background: linear-gradient(to right, #ebb501 0%, #fed754 12%, #ebb501 25%, #fed754 37%, #ebb501 50%, #fed754 62%, #ebb501 75%, #fed754 87%, #ebb501 100%);
            }

        .container > h5 {
            display: inline-block;
        }

        .options {
            margin-left: 20px;
        }

        .fp-enabled .modal {
            position: fixed !important;
        }

        .modal-backdrop {
            display: none;
        }

        .modal {
            background: rgba(0,0,0,.5);
        }

        .modal-content {
            overflow: hidden;
            padding: 10px;
        }
    </style>
</head>
<body>
    <div id="fullpage">
        <div class="section" name="second">
            @{
                int bookNumber = ViewBag.Count;
                if (bookNumber >= 0)
                {
                    for (int page = 0; page <= Model.Count() / 5; page++)
                    {
                        <div class="slide" data-anchor="slide1">
                            <div class="container">
                                <div class="row">
                                    @if (page == 0)
                                    {
                                        <div class="container">
                                            <h3>Sevgili Günlük,</h3>
                                            <h5>Bu kısımda eski günlüklerinizi okuyabilir ve yeni bir günlük yazabilirsiniz.</h5>
                                            <button onclick="window.location.href='/writedaily'" class="btn btn-primary btn-sm options">Yeni Günlük Yaz!</button>
                                            <button type="button" data-toggle="modal" data-target="#exampleModal" class="btn btn-primary btn-sm options">Sonuçları Etiketlerine Göre Filtrele</button>
                                            <button onclick="window.location.href='/profile'" class="btn btn-primary btn-sm options">Hesap Ayarları</button>
                                        </div><br /><br />
                                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title" id="exampleModalLabel">Günlüğüne Sonuçlarını Filtrele</h4>
                                                        <span>İstediğiniz kısımları boş bırakabilirsiniz.</span>
                                                    </div>
                                                    @using (Html.BeginForm("Index", "HomePage", FormMethod.Post))
                                                    {
                                                        <div class="modal-body">
                                                            <div class="container">
                                                                <table>
                                                                    <tr>
                                                                        <td>
                                                                            <h6>Tarihe göre Arama Yap</h6>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <input type='datetime' required id="datepick" placeholder="21/01/2019" name="dateSearch" style="width:220%;height:35px;margin-bottom:10px;" data-language='en' class="datepicker-here" data-position='bottom right' />
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                                                            <button type="submit" class="btn btn-primary">Günlüğünü Bul!</button>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <script>
                                            $('#myModal').on('shown.bs.modal', function () {
                                                $('#myInput').trigger('focus')
                                            });
                                        </script>
                                    }
                                    @foreach (var book in Model.Skip(page * 6).Take(6))
                                    {
                                        <div class="col-xs-4 col-md-2">
                                            <a href="/ReadDaily?id=@book.Id">
                                                <div class="moleskine-wrapper">
                                                    <img src="@book.Mood" class="emoji" /><br />
                                                    <div class="moleskine-notebook">
                                                        <div class="notebook-cover  @book.BookColor">
                                                            <div class="notebook-skin">@book.DailyTitle</div>
                                                        </div>
                                                        <div class="notebook-page ruled"></div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    }
                                    <div class="col-xs-12 shelf"></div>
                                </div>
                            </div>
                        </div>
                    }
                }

            }
        </div>

        <div class="section fp-auto-height" name="third">
            <footer class="section bg-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="">
                                <h6 class="footer-heading text-uppercase text-white">Bilgilendirme</h6>
                                <ul class="list-unstyled footer-link mt-4">
                                    <li><a href="">Sayfalar</a></li>
                                    <li><a href="">Biz Kimiz?</a></li>
                                    <li><a href="">Mobil Uygulamalarımıza Ulaşın!</a></li>
                                    <li><a href="">Sanalgunlugum.com</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="">
                                <h6 class="footer-heading text-uppercase text-white">Nasıl Kullanılır</h6>
                                <ul class="list-unstyled footer-link mt-4">
                                    <li><a href="">Üye olma</a></li>
                                    <li><a href="">Üyeliği İptal Etme</a></li>
                                    <li><a href="">Günlük Yazma</a></li>
                                    <li><a href="">Günlük Silme</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-2">
                            <div class="">
                                <h6 class="footer-heading text-uppercase text-white">Yardım</h6>
                                <ul class="list-unstyled footer-link mt-4">
                                    <li><a onclick="exit()">Çıkış Yap </a></li>
                                    <li><a href="">Sıkça Sorulan Sorular</a></li>
                                    <li><a href="">Kullanım Sözleşmesi</a></li>
                                    <li><a href="">Gizlilik Sözleşmesi</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="">
                                <h6 class="footer-heading text-uppercase text-white">Biz Ulaşın</h6>
                                <p class="contact-info mt-4">Herhangi bir konuda yardıma ihtiyaç duyarsanız bize ulaşın</p>
                                <p class="contact-info">info@sanalgunlugum.com</p>
                                <div class="mt-5">
                                    <ul class="list-inline">
                                        <li class="list-inline-item"><a href="#"><i class="fab google footer-social-icon fa-google"></i></a></li>
                                        <li class="list-inline-item"><a href="#"><i class="fab apple footer-social-icon fa-apple"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="text-center mt-5">
                    <p class="footer-alt mb-0 f-14">2019 © Sanalgunlugum.com, Tüm Hakları Saklıdır</p>
                </div>
            </footer>
        </div>
    </div>
    <script src="~/Scripts/scrolloverflow.js"></script>
    <script src="~/Scripts/fullpage.js"></script>
    <script>
        new fullpage('#fullpage', {
            sectionsColor: ['y', '', ''],
            afterRender: function () {
                var pluginContainer = this;
            }
        });
        $('#datepick').datepicker({
            maxDate: new Date()
        })
    </script>
    <script>
        let exit = () => {
            $.ajax({
                url: '@Url.Action("Exit","HomePage")',
                type: 'POST',
                datatype: 'json',
                data: {Crypt:'logout'},
                success: function (data) {
                    window.location.reload();
                },
                error: function (data) {
                    window.locaiton.reload();
                }
            });
        }
    </script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/datepicker.min.js"></script>
    <script src="~/Scripts/datepicker.en.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>